{% extends 'layouts/index.twig' %}

{% block main %}
    <section>
        <h1>{{ page.title }}</h1>
        {% for tag in page.collection() %}
            <section>
                <h2><i class="glyphicon glyphicon-tag"></i> {{ tag.title }}</h2>
                <div>{{ tag.content|content }}</div>
                {% for article in tag.related('posts') %}
                    <article itemscope itemtype="http://schema.org/BlogPosting">
                        <header>
                            <h3 itemprop="name"><a href="{{ url(article.url) }}" itemprop="url">{{ article.title }}</a></h3>
                        </header>
                        <p itemprop="description">{{ article.summary }}</p>
                    </article>
                {% endfor %}
            </section>
        {% endfor %}
    </section>
{% endblock %}
